<html>
<head>
	<title>表单验证</title>
	<link rel="stylesheet" href="lib/bootstrap-3.0.0/css/bootstrap.css">
	<style> 
     #css_form input.ng-invalid.ng-dirty {
          background-color: #FFC0CB;
     }
     #css_form input.ng-valid.ng-dirty {
          background-color: #78FA89;
     }
	</style>
</head>
<body>
	<div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">表单验证</div>
        </div>
        <div class="panel-body">
			<div class="row">
				<form  id="css_form" class="form-horizontal" novalidate name="myform" role="form" ng-controller="myCtrl">
				  <div class="form-group">
					   <label for="inputAccount" class="col-md-2 control-label">账号：</label>
					   <div class="col-md-2">
					   	<!--输入框 -->
					   	<input type="text"  class="form-control" ng-model="user.account" ng-pattern="/^[0-9]{6}$/"  name="myAccount" required id="inputAccount" placeholder="请输入6位的数字账号"/>
					   </div>
					   <div class="input-required"><font color="red">*</font></div>  
				  </div>
				 
				  <div class="form-group">
					   <label for="inputEmail" class="col-md-2 control-label">邮箱：</label>
					   <div class="col-md-2">
					   	<!--输入框 -->
					   	<input type="email" ng-model="user.email" name="myEmail" required class="form-control" id="inputEmail" placeholder="请输入邮箱地址"/>
					   </div>
					   <div class="input-required"><font color="red">*</font></div>
				  </div>
				  
				  <!--按钮组-->
				  <div class="form-group">
				   <div class="col-md-offset-2 col-md-10">
				      <button class="btn btn-default"  ng-disabled="!myform.$valid">提交</button>
				      <button class="btn btn-default" ng-click="reset()">重置</button>
				   </div>
				  </div>
				</form>
			</div>
		</div>
	</div>
	
	<script type='text/javascript' src='lib/angular/angular.js'></script>
	<script type='text/javascript' src='lib/bootstrap-gh-pages/ui-bootstrap-tpls-0.10.0.js'></script>
	<script type='text/javascript' src='app.js'></script>
</body>
</html>