<!DOCTYPE HTML>
<html lang="en_US" ng-app="yApp">
<head>
    <meta charset="UTF-8">
    <title>分页</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
</head>
<body ng-controller="Pages">
<header class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only"><font><font>分页例子</font></font></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="./" class="navbar-brand"><font><font>分页例子</font></font></a>
        </div>
    </div>
</header>
<div class="container">
    <ol class="list-group">
        <li class="list-group-item" ng-repeat="list in lists | paging:currentPage * pageSize | limitTo:pageSize">{{list}}</li>
    </ol>
    <div class="pagebar">
        <button class="btn btn-info" type="button" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">上一页</button>
        <span>{{currentPage + 1}} / {{pageNum()}}</span>
        <button class="btn btn-info" type="button" ng-disabled="currentPage == pageNum() - 1" ng-click="currentPage = currentPage + 1">下一页</button>
    </div>
</div>





<script type="text/javascript" src="http://cdn.staticfile.org/angular.js/1.2.1/angular.js"></script>
<script type="text/javascript">
    var app = angular.module("yApp",[]);
    app.controller("Pages",function($scope){
        $scope.currentPage = 0;
        $scope.pageSize = 10;
        $scope.lists = [];
        for (var i = 0; i < 100; i++) {
            $scope.lists.push("这是列表的第" + i + "条");
        };
        //分页数量
        $scope.pageNum = function(){
            return (this.lists.length / this.pageSize);
        }
    });
    //过滤器
    app.filter("paging",function(){
        return function(input,start){
            if(input.length == 0) return;
            //
            return input.slice(start);
        }
    });
</script>
</body>
</html>
