<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title></title>
</head>
<script type="text/javascript" src="angular.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.run(function($rootScope) {
        $rootScope.name = "zwb"; //这里是可以看作是全局变量
    });
    app.controller('MyController',
            function($scope) {
                $scope.person = {
                    name: "Ari Lerner"
                };
                var updateClock = function() {
                    $scope.clock = new Date();
                    console.log($scope.clock);
                };
                var timer = setInterval(function() {
                            $scope.$apply(updateClock);
                        },
                        1000);
                updateClock();
            });

    app.controller('ParentController',
            function($scope) {
                $scope.person = {
                    greeted: false
                };
            });

    app.controller('ChildController',
            function($scope) {
                $scope.sayHello = function() {
                    $scope.person.greeted = true; //这里是$scope.person不是$rootScope.name
                }
            });

    app.controller('DemoController', function($scope) {
        $scope.counter = 0;
        $scope.add = function(amount) { $scope.counter += amount; };
        $scope.subtract = function(amount) { $scope.counter -= amount; };
    });
</script>
<body>


<div ng-controller="MyController">
    {{ person.name }}
    <h5>{{ clock }}</h5>

    <div ng-controller="ParentController">
        <div ng-controller="ChildController">

            <input type="text" ng-model="person.name" placeholder="{{name}}" ></input> <!--这里placeholder实际对应绑定的是$rootScope.name-->
            <a ng-click="sayHello()">Say hello</a>
        </div>
        {{person}}
    </div>
</div>

<div ng-controller="DemoController">
    <h4>The simplest adding machine ever</h4>
    <button ng-click="add(1)" class="button">Add</button>
    <button ng-click="subtract(1)" class="button">Subtract</button>
    <h4>Current count: {{ counter }}</h4>
</div>

<button ng-init="shouldShow = true" ng-click="shouldShow = !shouldShow">Flip the shouldShow variable</button>
<div ng-show="shouldShow">
    <h3>Showing {{ shouldShow }}</h3>
</div> <div ng-hide="shouldShow">
    <h3>Hiding {{ shouldShow }}</h3>
</div>




</body>

</html>