<!DOCTYPE html>
<html>
<head>
    <script src="angular.js"></script>
    <meta charset=utf-8 />
    <title>JS Bin</title>
</head>
<body ng-app="myApp">
<div ng-controller="MyController">
    <input ng-model="to"
           type="email"
           placeholder="Recipient" />
    <textarea ng-model="emailBody"></textarea>
    <pre>{{previewText}}</pre>
</div>
</body>
<script>
    angular.module('myApp', [])
            .controller('MyController',
            function($scope, $interpolate) {
                $scope.to = 'ari@fullstack.ios';
                $scope.emailBody = 'Hello {{ to }},\n\nMy name is Ari too!';
                // Set up a watch
                $scope.$watch('emailBody', function(body) {
                    console.log(body);
                    if (body) {
                        var template = $interpolate(body);
                        $scope.previewText =
                                template({to: $scope.to});
                    }
                });
            });





</script>

</html>