<head>
    <script type="text/javascript">
        function SelectFirstLine ()
        {
            var elemToSelect = document.getElementById ("firstLine");
            var selection = window.getSelection ();
            var rangeToSelect = document.createRange ();
            rangeToSelect.selectNodeContents (elemToSelect);
            selection.removeAllRanges ();
            selection.addRange (rangeToSelect);
        }
        function Choose()
        {
            var strongs = document.getElementsByTagName("strong");
            console.log(strongs)
            var s = window.getSelection();
            if (s.rangeCount > 0) {
                s.removeAllRanges();
            }
            for (var i = 0; i < strongs.length; i++) {
                var range = document.createRange();
                range.selectNode(strongs[i]);
                s.addRange(range);
            }
        }
    </script>


</head>
<body>
<h1>仅仅chrom和firefox浏览器判定不完全</h1>
<button onclick="SelectFirstLine();">Select the first line!</button>
<br /><br />
<div id="firstLine">This is the first line.</div>
<div>This is the second line.</div>

<button onclick="Choose();">Select the first line!</button>
<div id="firstLine">

    <strong>This</strong>is <strong>the first</strong> line.</div>

<br /><br />
<div>This is the second<strong>This</strong> line.</div>



</body>