<!doctype html>
<html lang="en">
<head>
<script src="angular.js"></script>
</head>

<body>
<div ng-app="">
  <form novalidate name="myform">
    Name:<br>
    <input type="text" name="ne" ng-model="user.firstName"><br>
        Name2:<br>
    <input type="text" name="ne2" ng-model="user.firstName"><br>

    
  </form>
 
</div>
    <script>

//   angular.element("<input type=\"text\" name=\"ne\" ng-model=\"user.firstName\" required value=\"sss\">").bind('blur', function() {
//
//       alert("sdasd");
//
//   });
    

    </script>


</body>
</html>
			