<html ng-app>
<body ng-controller="TextController">
<p>{{someText}}</p>

<script
    src="../angular.js">
</script>

<script>
  function TextController($scope) {
    $scope.someText = 'You have started your journey.';
  }
</script>
</body>
</html>
