<html ng-app='myApp'>
<body ng-controller='TextController'>
<p>{{someText.message}}</p>

<script
    src="../angular.js">
</script>

<script>
  var myAppModule = angular.module('myApp', []);

  myAppModule.controller('TextController',
      function($scope) {
        var someText = {};
        someText.message = 'You have started your journey111.';
        $scope.someText = someText;
      });
</script>
</body>
</html>
