<!doctype html>
<html ng-app>
  <head>
    <script src="../angular.js"></script>
  </head>
  <body>
    <form ng-controller="StartUpController">
      Starting: <input ng-change="computeNeeded()"
                       ng-model="funding.startingEstimate">
      Recommendation: {{funding.needed}}
    </form>
    <script>
      function StartUpController($scope) {
        $scope.funding = { startingEstimate: 0 };

          console.log($scope.funding);
        $scope.computeNeeded = function() {
          $scope.funding.needed = $scope.funding.startingEstimate * 10;
        };
      }
    </script>
  </body>
</html>
